
body{
	background:#e3e3e3 !important;
}

/* .btn{
    border-radius: 10rem !important;
    padding: 1.5rem 2.5rem !important;
} */
.btt{
	border-radius: 8rem !important;
    padding: 1.2rem 2.2rem !important;
}

.header{
    height: 100vh;
    width: 100%;

    background: url(https://www.esquareinfo.com/image/journal/article?img_id=2381768&t=1580281610137);
    background-size: cover;
    color: white;
    
}
.mycard{
	background: #FFFFFF;
	padding:20px;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 500px;
  border: 1px solid #9C9C9C;
  background-color: white;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.sidebar{
	background: white;
	width:18%;
	height:100%;
	position:fixed;
	
}
.content{
	margin-left : 20%;
}
.sidebar a{
	padding: 10px 25px;
	display:block;
	color:gray;
	width:100%!important ;
	text-decoration: none;
	padding-top: 15px;
	z-index: 99999999;
	
	
}
.sidebar a:hover{
	color:black;
	background: #e2e2e2;
	text-decoration: none;
}
.sidebar .divider{
	height: .7px;
	width:100%;
	background: #e2e2e2;
	margin-top:10px;
}
@media only screen and(max-width: 600px){
	.sidebar{
	display: none;
	width:80%!important;
	background:white;
	height:100vh;
	position:fixed;
	padding-top:20px;
	
	
	}
}
.sidebar .crossBtn{
	position:absolute;
	top:0;
	font-size:36px;
	cursor: pointer;
	right:35px;
	
	
}	
	
