<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	
	<section>
	
	<header class="header">

        <div class="container h-100">
				<div class="row h-100 align-items-center">
					<div class="col-md-12 text-center">
						<h1>Welcome To Smile Shop</h1>

						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
							Debitis cupiditate dolorum molestiae corrupti dolorem est modi
							nesciunt officiis velit tempore. Repellendus veritatis iure
							voluptatibus ipsum, laboriosam corporis? Mollitia, amet aut.</p>
						<button class="btn btn-dark btt">Clik Here...</button>
					</div>
				</div>


			</div>
    </header>
    
	</section>
	
</body>
</html>